
@{
    ViewData["Title"] = "Index";
}

@*//上記のViewData["Title"] = "Index"とかぶっているため、表示されない *@
<head><title>@ViewBag.Title</title></head>

<h1>Index</h1>

<h2>@ViewBag.Message</h2>
<p>@ViewData["Now"]</p>

ViewBag.PropertiestTest
<h2>@ViewBag.PropertiestTest</h2>
