@model InputModel
<div>
    <span asp-validation-for="name"></span>
    <label asp-for="name"></label>
    @Model.name
</div>

<div>
    <span asp-validation-for="age"></span>
    <label asp-for="age"></label>
    @Model.age
</div>


