
@model ProductEntity
@{
    //共通ページの無効化
    Layout = "CreateLayoutView";
}


<table class="showTable">
    <tr>
        <th class="showTableCol">商品名</th>
        <th class="showTableCol">商品金額</th>
    </tr>
    @{
        for(int i = 0; i < ViewBag.result.Count; i++)
        {
            ProductEntity product = ViewBag.result[i];
            <tr>
                <td class="showTableRow">@product.ProductName</td>
                <td class="showTableRow">@product.ProductPrice</td>
            </tr>

          
        }
    }
</table>

<a href="InputDapper">トップページに戻る</a>